
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  /*font-size: 1em; if in EM or % it gets inherited by everything, if you specify another size in h1 it qill get added to this value*/
}

h1 {
  margin-top: 0;
  /*font-size: 6em; 1em or 100% = 16px */
  font-size: 6rem; /* rem = root em, not added to the body font size value*/
  font-family: 'Montserrat', sans-serif;
  color: #f96d00;
}

h2 {
  color: #f96d00;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2;
  padding-bottom: 10px;
}

h3 {
  color: #f96d00;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #f96d00;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #a6e2e3;
}

p {
  line-height: 2;
}

hr {
  border: dotted #a6e2e3 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

/*.earphones {
  width: 70px;
  position: absolute;
  right: 300px;
  top: 40px;
}*/

.monitor {
  width: 250px;
  position: relative;
  bottom: 45px;
}

.h2-top {
  color: #a6e2e3;
  position: relative;
  bottom: 80px;
}

.keyboard {
  width: 180px;
  position: relative;
  bottom: 120px;
}

.mouse {
  width: 110px;
  position: absolute;
  left: 1100px;
}

.top-container {
  background-color: #f2f2f2;
  height: 40rem;
  position: relative;
  padding-top: 100px;
}

.sedici {
  color: #7ccbcc;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.sedici:hover {
  color: #f96d00;
}

.luna-img {
  width: 180px;
}

.middle-container {
  margin: 100px auto;
}

.bottom-container {
  background-color: #393e46;
  padding: 50px 0 20px;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.ps-icon {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code-icon {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  color: #40514E;
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #222831;
  font-size: 0.75rem;
  padding: 10px 0;
}

.btn {
  background: #fc8429;
  background-image: -webkit-linear-gradient(top, #fc8429, #db5b00);
  background-image: -moz-linear-gradient(top, #fc8429, #db5b00);
  background-image: -ms-linear-gradient(top, #fc8429, #db5b00);
  background-image: -o-linear-gradient(top, #fc8429, #db5b00);
  background-image: linear-gradient(to bottom, #fc8429, #db5b00);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #7ccbcc;
  background-image: -webkit-linear-gradient(top, #7ccbcc, #8cbdbd);
  background-image: -moz-linear-gradient(top, #7ccbcc, #8cbdbd);
  background-image: -ms-linear-gradient(top, #7ccbcc, #8cbdbd);
  background-image: -o-linear-gradient(top, #7ccbcc, #8cbdbd);
  background-image: linear-gradient(to bottom, #7ccbcc, #8cbdbd);
  text-decoration: none;
  color: #393e46;
}
